<!doctype html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>UTF8ify.com</title>
	<LINK REL=StyleSheet HREF="/public/style.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
	<div role="main" id="main">
		<h1>utf8ify.com</h1>
		<form method="post" action="/">

		    <textarea  name="text">
ΑβξφŒ - look at those dodgy characters.



Click the utf8ify button below.
</textarea>

 		<input type="submit" value="uft8ify" class="button" /> 
		</form>
			<p class="about">
				This site makes text safe for use in HTML documents.  
			</p>
			
	</div>
	<a href="https://github.com/simonmcmanus/utf8ify" id="git"><img  src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="/utf8ify.js" type="text/javascript"></script>
	<script src="/public/interactions.js" type="text/javascript"></script>

</body>
</html>